In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set()
%config InlineBackend.figure_format ='retina'

In [2]:
#load games data
games = pd.read_csv('games.csv')

In [3]:
games.head()

,GameID,Date,Tournament,TournamentGame,Team,Opponent,Outcome,TeamPoints,TeamPointsAllowed
0,1,2017-11-30,Dubai,1,Canada,Spain,W,19,0
1,2,2017-11-30,Dubai,2,Canada,Ireland,W,31,0
2,3,2017-11-30,Dubai,3,Canada,Fiji,W,31,14
3,4,2017-12-01,Dubai,4,Canada,France,W,24,19
4,5,2017-12-01,Dubai,5,Canada,Australia,L,7,25

In [4]:
# creating dict files
#Ranking reference: https://en.wikipedia.org/wiki/2017â€“18_World_Rugby_Sevens_Series
#https://www.scrumqueens.com/news/womens-international-rugby-rankings
#Canada:4
opponent_ranking = {'Australia': 1,'New Zealand': 2,'France': 3,'USA': 5,'Russia': 6,
                    'Spain': 7,'England': 8,'Fiji': 9,'Ireland': 10,'Japan': 11,
                    'South Africa': 13,'Brazil': 14,'Kenya':15} 
outcome = {'W': 1,'L': 0}

In [5]:
# traversing through dataframe 
# values where key matches 
games.Opponent = [opponent_ranking[item] for item in games.Opponent] 
games.Outcome = [outcome[item] for item in games.Outcome]

In [7]:
games.head()

,GameID,Date,Tournament,TournamentGame,Team,Opponent,Outcome,TeamPoints,TeamPointsAllowed
0,1,2017-11-30,Dubai,1,Canada,7,1,19,0
1,2,2017-11-30,Dubai,2,Canada,10,1,31,0
2,3,2017-11-30,Dubai,3,Canada,9,1,31,14
3,4,2017-12-01,Dubai,4,Canada,3,1,24,19
4,5,2017-12-01,Dubai,5,Canada,1,0,7,25

In [9]:
from sklearn import preprocessing
import numpy as np
# Get dataset
wellness = pd.read_csv('wellness.csv')
# Normalize total_bedrooms column
# x_array = np.array(df['total_bedrooms'])
# normalized_X = preprocessing.normalize([x_array])

In [11]:
wellness.head()

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,BedTime,WakeTime,SleepHours,SleepQuality,MonitoringScore,Pain,Illness,Menstruation,Nutrition,NutritionAdjustment,USGMeasurement,USG,TrainingReadiness
0,2018-07-21,1,3,3,2,3,23:00:00,07:00:00,8.00,2,13,No,No,Yes,Excellent,Yes,No,NaN,0%
1,2018-07-21,2,4,3,4,4,23:00:00,07:00:00,8.00,4,19,Yes,No,Yes,NaN,NaN,Yes,1.010,0%
2,2018-07-21,3,3,3,5,4,22:30:00,06:30:00,8.00,4,19,No,No,No,NaN,NaN,Yes,1.016,100%
3,2018-07-21,4,2,3,5,4,00:30:00,07:00:00,6.50,1,15,No,No,Yes,Excellent,Yes,Yes,1.025,95%
4,2018-07-21,5,5,3,4,4,23:45:00,07:00:00,7.25,4,20,No,No,No,Okay,Yes,Yes,1.022,100%